@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://use.typekit.net/ovv2ced.css");

*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color01: #021734;
    --color02: #01122B;
    --color03: #436799;
    --color04: #83A1CC;
    --color05: #D6E7FF;
    --destaque: rgb(23, 107, 224);
    
    --main-font: 'poppins-thin';
    --title-font: 'Inter';
    --special-font: 'Bruson', serif;
}

#title{
    
    display: inline-block;
    color: white;
    font-size: 16px;
    margin: 30px 20px 20px 0px;
    text-indent: 20px;
    font-family: var(--title-font);
    text-transform: uppercase;
}

#title span{
    color: var(--destaque);
}

nav{
    background-color: var(--color01);
    position: fixed;
    text-align: center;
    border-bottom: 2px solid #5f47ff28 ;
    top: 0px;
    width: 100%;
    z-index: 1000; 
}

nav a{    
    font-size: 13px;
    color: white;
    text-decoration: none;
    font-family: var(--main-font);
    margin: 0px 10px 0px 0px;
    vertical-align: 10px;
    padding: 5px;
}

nav a:hover{
    text-decoration: wavy underline;
    text-decoration-color: var(--destaque);
    font-weight: bold;
    color: white;
    background-color: #0345a956;
   
    border-radius: 3px;
    padding: 8px;
    transition-duration: 0.5s;
}


body{
    background-color: var(--color01);
}

main{
    min-width: 400px;
    margin :auto;
}

h1, h2, h3{
    font-family: var(--title-font);
    color: white;
    margin: 10px;
    font-weight: 700;
}

p{
    font-family: var(--main-font);
}

#capa{
    margin: 120px auto 50px auto;
    max-width: 1400px;
    padding-bottom: 40px;
    box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.303);
    text-align: center;
}

#capa section{
    display: inline-block;
    margin: 20px 0px 0px 0px;
    text-align: left;
}

#capa h1{
    font-size: 3em;
}

#capa p{
    color: white;
    margin: 10px;
}

#contato{
    display: inline-block;
    background-color: var(--destaque);
    margin: 20px 10px;
    color: white;
    text-decoration: none;
    font-family: var(--title-font);
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

#comprimento{
    text-transform: uppercase;
    color: var(--destaque);
    font-weight: 600;
}

#capa strong{
    color: var(--destaque);
}

.avatar{
    text-align: center;
    display: inline-block;
    margin: auto;
    padding-left: 30px ;
}

.avatar source {
    display: none;
}

.avatar img{
    margin: auto;
    width: 29vw;
    max-width: 350px;
    vertical-align: 100% ;
}



#apresentacao{
    max-width: 1400px;
    margin: auto;
    padding: 0px 10px;
    text-align: center;
}


.imgg{
    display: inline-block;
    background-size: cover;
}

#perfil{
    background-image: url(images/Perfil-300.png);
    height: 230px;
    width: 230px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 8px rgba(0, 0, 0, 0.237);

}

.balao h2{
    background-color: var(--color03);
    margin: 0px -25px;
    padding: 5px 20px;
    font-size: 1rem;
    color: white;
    border-radius: 5px 5px 0px 0px;
}

.balao p{
    padding: 20px 0px;
}

.balao{
    text-align: justify;
    padding: 0px 25px ;
    font-family: var(--main-font);
    background-color:white;
    line-height: 1.8em;
    border-radius: 10px;
    display: inline-block;
    margin: 35px 0px 60px 0px;
    box-shadow: 0px 0px 6px 8px rgba(0, 0, 0, 0.237);
    max-width: 700px;
    width: 60%;
    vertical-align: top;
}

main > h2{
    text-align: center;
    color: white;
    margin-bottom: 40px;
    margin-top: 80px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--destaque);
    font-size: 2.3em;
}

#projetos {
    text-align: center;
    margin: auto;
    padding: 10px;
    max-width: 1400px;
    color: white;
}

article.projeto{
    display: inline-block;
    background-color: #01122B;
    border: 2px solid #122848;
    max-width: 500px;
    width: 60%;
    border-radius: 10px;
    margin-right: 10px;
    padding: 20px;
}

article.projeto img{
    text-align: left;
    width: 100%; 
    border-radius: 10px;
}

article.projeto p {
    text-align: justify;
}

article.projeto h3{
    padding-top: 20px;
    font-size: 1.45em;
    text-align: left;
    margin: 0px;
}

.descricao{
    line-height: 3em;
    color: var(--destaque);
    font-weight: 500;

}

.tags{
    margin-top: 10px;
    text-align: left;
}

.tag{
    background-color: var(--color01);
    color: #75BAF3;
    border: 0.02px solid #75BAF3;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 5px 0px 0px;
    text-align: center;
}


.tecnologias{
    margin-top: 10px;
    text-align: left;

}


.tecnologia{
    background-color: whitesmoke;
    color: var(--color02);
    border: 0.02px solid darkgray;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 5px 0px 0px;
    text-align: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13)    ;
}


#java::before{
    content: url(images/icons/java-original.png);
    vertical-align: middle;
}

#AndroidStudio::before{
    content: url(images/icons/androidstudio-original.png);
    vertical-align: middle;
}



#robotica::before{
    content: url(images/icons/robot-icon.png);
    vertical-align: middle;
}

#automacao::before{
    content: url(images/icons/atomacao-icon.png);
    vertical-align: middle;
    vertical-align: middle;
}

.dados{
    font-size: 0.8em;
    margin-top: 20px;
    border-top: 2px solid #122848;
    padding-top: 10px;
    width: 100%;
}

.dados  strong{
    color: var(--destaque);
    font-weight: 500;
}

.dados div{
    display: inline-block;
    padding-left: 10px;

}

.dados p{
    display: inline-block;
    border-right: 2px solid #122848;
    padding-right: 30px;
    padding-left: 10px;
}

.dados img{
    margin-left: 5px;
}

aside.projeto{
    vertical-align: top;
    display: inline-block;
    background-color: #253a5851;
    border: 2px solid #43679936;
    max-width: 500px;
    width: 60%;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
}

aside.projeto a{
    display: inline-block;
    background-color: var(--destaque);
    margin: 20px 0px;
    color: white;
    text-decoration: none;
    font-family: var(--title-font);
    width: 220px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 5px;

}
aside.projeto h3{
    margin: 0px;
    padding: 10px 0px;
    font-size: 1.6em;
}

aside.projeto p{
    padding: 5px 0px;
    font-family: var(--main-font);
}

.external::before{
    content: url(images/icons/link.png);
    vertical-align: middle;
}

aside.projeto span{
    font-size: 1.1em;
    font-weight: 600;
    font-family: var(--main-font);
}

.impactos{
    padding: 10px;
    border: 2px solid #43679936;
    border-radius: 5px;
    margin: 5px 0px;
}

.impactos p{
    border-bottom: 2px solid #43679936;
}

#asideh3{
    margin: 10px;
    text-align: center;
    text-decoration: wavy underline;
    text-decoration-color: var(--destaque);
}


#servicos{
    text-align: center;
    margin: auto;
    max-width: 1400px;
    margin: auto;
    padding: 10px;
    color: white;
}
.servico{
    font-family: var(--main-font);
    padding: 10px;
    max-width: 300px;
    height: 320px;
    display: inline-block;
    text-align: center;
    background-color: var(--color02);
    border: 2px solid var(--color03);
    border-radius: 10px;
    margin: 10px 2px;
    margin-bottom: 30px;
    vertical-align: top;
}

.servico h3{
    margin-bottom: 8px;
    padding: 8px 0px;
    font-size: 1.5em;
}

.servico img
{
    margin-top: 30px;
    
}




